body {
    margin-top: 40px;
    background: #A52A2A;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

h1 {
    letter-spacing: 0.1em;
    color: #f1f1f1
}

.container {
    margin: 0 auto;
    width: 400px;
}

#board {
    width: 300px;
    height: 300px;
    border: 1px solid #dadada;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 20px;
}

#board > li {
    list-style: none;
    float: left;
    overflow: hidden;
    text-decoration:none;
    width: 100px;
    height: 100px;
    background: #f1f1f1;
    border: 1px solid #ccc;
    border-right: 1px solid #fff;
    cursor: pointer;
    text-transform: uppercase;
    text-align: center;
    padding-top: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#board > li.x {
    font-size: 40px;
    color: #ed4e6e
}

#board > li.o {
    font-size: 40px;
    color: #485b6e;
}

#board > li:hover {
    background: #f9f9f9;
}

#board > li:active {
    width: 100px;
    height: 100px;
    border: 0;
}

#info {
    text-align:center;
    margin-top: 10px;
}

#player-turn > span,
#alerts > span {
    display: none;
}

#player-turn.x span.x,
#player-turn.o span.o,
#alerts.player-x-win > span.player-x-win,
#alerts.player-o-win > span.player-o-win,
#alerts.draw > span.draw {
    display: block;
    margin-top: 10px;
}
