body {
    margin-top: 40px;
    background: darkgray;
    color: #fff;
    font-family: Helvetica;
    font-weight: bold;
    text-align: center;
}

h1 {
    letter-spacing: 0.1em;
    color: #f1f1f1
}
